.ant-menu-horizontal > .ant-menu-item {
	display: flex !important;
	justify-content: center !important;
	border-bottom: 3px solid transparent !important;
}

.ant-menu-horizontal > .ant-menu-item-selected {
	background: rgba(255, 255, 255, 0.08) !important;
	border-bottom-color: var(--menu-active-color) !important;
	box-shadow: none !important;
}

.ant-menu-horizontal > .ant-menu-item-selected > a {
	opacity: 1 !important;
	font-weight: 700 !important;
}

.ant-menu-horizontal > .ant-menu-item-selected > a > .anticon {
	filter: brightness(1.5);
}

.ant-message {
	z-index: 99999 !important;
}

.ant-message-notice-content {
	color: #ffffff !important;
}